// DESKTOP STYLES ================================

@media desktop

	.show-phone,
	.show-tablet,
	.hide-screen
		display none !important
	
	.show-screen,
	.hide-phone,
	.hide-tablet
		display inherit !important