// MOBILE (portrait and landscape) STYLE =========

@media mob

	.show-phone,
	.hide-tablet,
	.hide-screen
		display inherit !important
	
	.show-tablet,
	.hide-phone,
	.show-screen
		display none !important
