// TABLET STYLES =================================

@media tablet

	.show-phone,
	.show-screen,
	.hide-tablet
		display none !important
	
	.show-tablet,
	.hide-phone,
	.hide-screen
		display inherit !important


