// -------------------------------------------------------
// Roots global settings variables
// -------------------------------------------------------

// font options (add your own!)
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
verdana = Verdana, Geneva, sans-serif

@import url('http://fonts.googleapis.com/css?family=PT\+Mono');
@import url('http://fonts.googleapis.com/css?family=PT\+Sans:400,400italic,700,700italic');
@import url('http://fonts.googleapis.com/css?family=PT\+Serif:400,400italic,700,700italic');

sansSerif = 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
Serif = 'PT Serif', Georgia, Times, 'Times New Roman', serif;
mono = 'PT Mono', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

// default font stack
font-stack = sansSerif
font-size = 15
font-color = #555

// Colors
midnightBlue = #2c3e50
wetAsphalt = #34495e
silver  = #bdc3c7
asbestos = #7f8c8d
concrete = #95a5a6
clouds = #ecf0f1
turquoise = #1abc9c
greenSea = #16a085
sunflower = #f1c40f
orange = #f39c12
emerald = #2ecc71
nephritis = #27ae60
carrot = #e67e22
pumpkin = #d35400
peterRiver = #3498db
belizeHole = #2980b9
alizarin = #e74c3c
pomegranate = #c0392b
amethyst = #9b59b6
wisteria = #8e44ad


bgColor = clouds
mainNavColor = white
text1 = black
text2 = white

primary = hsla(14%, 100%, 82%, 1.0)
secondary = rgba(#399CCC,1)
tertiary = darken(primary, 30%)

primaryBg = primary
secondaryBg = secondary
tertiaryBg = tertiary

red = #e74c3c
orange = #e67e22
yellow = #f1c40f
green = #27ae60
light-blue = #9b59b6
blue = #2980b9
purple = #8e44ad
white = #fff
black = #272727

// default color
default-color = primary

// text hilight color
hilight-color = secondary

// vendor prefixes
vendors = webkit moz o ms official

// custom image base path for roots mixins
img-path = '../img/'

// progressive internet explorer (http://css3pie.com/)
pie-enabled = false
pie-path = '/pie.htc'

// Media Queries
desktop = 'only screen and (min-width: 64em)'
tablet = 'only screen and (min-width: 37.5em) and (max-width: 64em), only screen and (min-device-width: 481px) and (max-device-width: 1024px)'
mob = 'only screen and (max-width: 37.5em), only screen and (min-device-width: 320px) and (max-device-width: 480px)'

// grid system settings (http://semantic.gs)
column-width = 60px
gutter-width = 20px
columns = 12