body
	background-color bgColor

::-moz-selection
	background-color primary
	color white
::selection
	background-color primary
	color white

// Typography Colors
.primary
	color primary
.secondary
	color secondary
.tertiary
	color tertiary

// Background Colors
.primaryBg
	background-color primaryBg
	// For SVG
	fill primaryBg
.secondaryBg
	background-color secondaryBg
	fill secondaryBg
.tertiaryBg
	background-color tertiaryBg
	fill tertiaryBg