// Forms ========================================

code,
pre
	//- white-space: pre-wrap
	//- white-space: -moz-pre-wrap
	overflow-x scroll
	font-weight normal

pre
	padding 1.5rem

code(invert=false)
	if invert
		background-color invert(primary)
		color invert(text1)
	else
		background-color primary
		color text2

code.inline
	color primary
	position relative
	line-height 1
	line 0