// Media Elements ========================================
// Images

img(circle=false)
	line-height:0;
	margin-bottom: 20px;
	if circle
		border-radius: 50% !important;
		overflow: hidden;
		
// Video
body video
	width: 100%;


.youtube.video, .vimeo.video, .twitch.video 
	padding-top: 30px;