basefont = 16px
rembase = 10
ratio = 1.618 // Let's start with the golden ratio
base-line-height = rembase * ratio // You don't need to change this
devmode = false // Set this true to show vertical grid

@import 'functions/_typography.styl'

html
	font-size: 62.5%

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p
	margin 0 !important
	padding 0 !important

h1, .h1
	font-family $sans-serif
	fs 60px
	line-height 1
	color text1

h2, .h2
	font-family $sans-serif
	fs 48px
	color text1

h3, .h3
	font-family $sans-serif
	fs 32px
	color text1

h4, .h4
	font-family $sans-serif
	fs 28px
	color text1

h5, .h5
	font-family $sans-serif
	fs 24px
	color text1

h6, .h6
	font-family $sans-serif
	fs 16px
	color text1


p, ul, ol li, td, th, label, legend, dt, dd, figcaption, summary, caption, address, blockquote
	font-family $sans-serif
	fs basefont, true


::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder
	font-size basefont*0.9,true
	color gray

lead()
	font-size basefont*1.5,true
	font-family $serif

blockquote
	border-left 1px solid gray
	margin 0
	padding-left 1rem

// Links
a
	color primary
	transition all 0.3s
	&:hover
		color tertiary !important
		transition all 0.3s
	&:visited
		color lighten(primary,10%)
	&:active
		position: relative
		top 1px
		transition all 0.3s

// Misc
mark
	background-color primary
	color white
	padding 0 0.25rem

blockquote
	font-family $serif

pre, code
	font-family $mono

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6,
p, ul, ol, td, th,label,legend,dt,dd,figcaption,summary,caption,address
	&:empty
		display none