---
layout: 'default'
title: 'Home'
---
h3 A Jade, Stylus, Grunt Boilerplate for Docpad
p.
	Stylus includes Nib, Normalize v2.1.0, and a slightly altered Semantic.gs. A Bower component.json and .bowerrc file are also included.
p Based on&nbsp;
	a(href="https://github.com/lukekarrys/html5-boilerplate.docpad") this
	|  and&nbsp;
	a(href="https://github.com/docpad/twitter-bootstrap-jade.docpad") this
