// It calculates line-height when flag is true
// font-size must be declared with px
fs(n, flag = true)
	font-size: n px
	font-size: (remove-unit(n) / rembase) rem
	if flag
		line-height: -getlineheight()
	else
		error('Use px as unit')
		// This is a function and by convention, starts with hyphen
-getlineheight()
	return remove-unit(@font-size) * (base-line-height / (remove-unit(@font-size) * rembase))

// Vertical guide using gradient
guide()
	unless devmode is false
		background: -moz-linear-gradient(top, #BA9B9A 1px, transparent 1px );
		background-image: -webkit-linear-gradient(#BA9B9A 1px, transparent 1px);
		background-size: 100% (line-height-base px);