/**
 * ^SETTINGS
 * global 'dookie' variables (use this into your project and specify yours here)
 */

font-stack = sans-serif
font-size = 12px

default-color = #333

// e.g. '../images/'
img-path = '../img/'

vendors ?= moz webkit ms o official

// ie support is disabled by default
ie-support ?= true